*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url('bg.jpeg'); 
    background-size: cover; */
    overflow: hidden;
    height: 100vh;
}
.hero {
    overflow: hidden;
    height: 100vh;
    /* transition: all 2s linear 1s ; */
    /* transition-duration: 1s;
    transition-delay: 2s;
    transition-property: linear; */
    animation: lod 2s linear 0s;
}
.taskbar {
    background-color: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: calc(100% - 100%);
    display: flex;
    height: calc(100vh - 95%);
    align-items: center;
    z-index: 110;
    justify-content: center;
    background-size: cover;
}

.taskbar .center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.dum {
    position: relative;
    right: 12px;
}
.mud {
    position: relative;
    right: 30px;
}

.taskbar .center a i {
    font-size: 1.6rem;
}

.taskbar .center a img {
    width: 1.6rem;
    height: 1.6rem;
}

.win , .fa-search {
    color: black;
}

.startmenu{
    position: absolute; 
    /* bottom: 50px; */
    bottom: 100rem;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.startmenu img{
    border-radius: 8px;
}

.startmenu .box {
    width: 100vh;
    color: white;
    border-radius: 10px;
    display: flex;
    z-index: 109;
    background-color: rgb(0 0 0 / 71%);
    height: calc(100vh - 10vh);
}

.under {
    padding: 1.8rem 2rem 0;
    width: 100%;
    height: calc(100% - 4.5%);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.sec1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.btn a {
    border: 1px solid white;
    padding: 0.2rem;
    text-decoration: none;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 6px;
}

.sec2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40vh;
    padding: 1rem 0 0 0;
    position: relative;
}

.cont {
    height: 10vh;
    width: calc(100% - 82.5%);
    justify-content: space-evenly;
    margin: calc(100% - 99%);
    align-items: center;
    align-content: center;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.cont:hover{
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    background-color: rgba(255, 255, 255, 0.671);
}
.sec2 .cont img {
    width: 30%;
}

.sec3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.sec4 {
    display: grid;
    width: 100%;
    padding: 0.8rem 0;
    grid-template-columns: 2fr 2fr;
}
.res img {
    width: 4rem;
}
.res {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.7rem;
    cursor: pointer;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 10%);
}

.res:hover {
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    background-color: rgba(255, 255, 255, 0.671);
}

.res .one {
    width: 12%;
    padding: 0 0.7em;
}

.social {
    width: 1.17rem;
}
.sec5 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    height: 8vh;
    border-top: 2px solid;
}

.lef {
    display: flex;
    width: 32%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.lef a {
    font-size: 2.5rem;
    color: white;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}  
.icons{
    color: white;
}
video {
    background-size: cover;
    width: 100%;
    background-position: center center;
}


.load {
    height: 100vh;
    width: 100%;
    display: flex;
    background: url(./img/bg.jpg) center center no-repeat;
    background-size: cover;
    animation: dol 3s linear 2s;
}
@keyframes dol {
    0% {
        display: block;
        opacity: 1;
    }
    10% {
        display: block;
        opacity: 1;
    }
    40% {
        display: block;
        opacity: 1;
    }
    60% {
        display: block;
        opacity: 0.8;
    }

    100% {
        display: none;
        opacity: 0;
    }
}
@keyframes lod {
    0% {
        display: none;
        opacity: 0;
    }
    50% {
        display: block;
        position: absolute;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}